<navbar></navbar>

<header class="panel panel-default col-xs-12">
  <div class="panel-body">
    <h1 class="text-center">{{title}}</h1>
  </div>
</header>

<section class="row home-panels">
  <section class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">Book's rating</div>
      <div class="panel-body" ng-show="loading">
        Loading...
      </div>
      <ul class="list-group" testid="home-top-books-list">
        <a href="#/book/{{book.title}}" class="list-group-item"
           ng-repeat="book in books | orderBy: '-rating' | limitTo: 10">
          <span class="pull-left book-title">
            <span class="text-muted">{{$index + 1}}.</span>
            <span testid="book-title-text">{{book.title}}</span>
            <small class="text-muted">by {{book.author}}</small>
          </span>
          <span class="pull-right book-rating">
            <small>{{book.rating}}</small>
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
          <div class="clearfix"></div>
        </a>
      </ul>
    </div>
  </section>

  <section class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">Author's rating</div>
      <div class="panel-body" ng-show="loading">
        Loading...
      </div>
      <ul class="list-group" testid="home-top-authors-list">
        <li class="list-group-item" ng-repeat="book in books | orderBy: '-reviewCount' | limitTo: 10">
          <span class="text-muted">{{$index + 1}}.</span> {{book.author}}
        </li>
      </ul>
    </div>
  </section>

  <loader-overlay loading="{{loading}}"></loader-overlay>
</section>
